.clearfix
    br
    br
    .row
      .col-lg-3
        .list-group
          h2.list-group-item.active Events
          a.list-group-item(href='#/') Eventss
          a.list-group-item(href='#/headlines') Headlines
          a.list-group-item(href='javascript:void(0)') Links

      form.col-lg-9(name='form1', ng-submit='submitForm()')
        h2 Edit Events
        br
        .form-group
          .row
            div(class="error alert alert-success" ng-hide='true') #{message}
            .col-lg-2
              label Information
            .col-lg-10
              div(ng-repeat='event in events')
                textarea.info_bx(rows='4', cols='50' , name="textarea", ng-model="event.event")
                  | {{event.event}}
              .info_btm
                .row
                  .col-lg-10
                    select.mnth(ng-model='selectedMonth', ng-options='r.id as r.Name for r in Months')
                    | {{$scope.test}}
                    select.mnth(ng-model='selectedDate', ng-options='r.id as r.Name for r in dates')
                    | {{$scope.test}}
                    select.mnth(ng-model='selectedYear', ng-options='r.id as r.Name for r in years')
                    | {{$scope.test}}
                    //- select.mnth(name='month')
                    //-   option May
                    //-   option June
                    //-   option July
                    //-   option August
                    //-   option September
                    //- select.mnth(name='date')
                    //-   option 1
                    //-   option 2
                    //-   option 3
                    //-   option 4
                    //-   option 5
                  .col-lg-2
                    .link_rw
                      select.mnth(ng-model='selectedCategory', ng-options='r.id as r.Name for r in Category' , ng-change="update()")
                      | {{$scope.test}}
        .form-group
          .row
            .col-lg-2
              label Links
            .col-lg-10
              .link_bx
                .link_drp
                  ul
                    li.link_desc
                      input.form-control(type='text', ng-model='asyncSelected', typeahead='address.url for address in getLocation($viewValue) | filter:$viewValue', typeahead-loading='loadingLocations', typeahead-editable='false', typeahead-on-select='onSelect($item)')
                .link_drp(ui-sortable ng-model="form")
                  div.link_list(ng-repeat='event in form')
                    li.img_link
                      img(src='{{event.image_url}}', alt='No Image')
                    li.link_desc
                      a(href='#') {{event.url}}
                    li.link_anch
                      a(href='#', ng-click='deleteLink($index)')
                        i.fa.fa-times-circle
              input.input_bx2(type='submit', value='submit')
