
.clearfix
    br
    br
    .row
      .col-lg-3
        .list-group
          h2.list-group-item.active.activatedTab Events
          a.list-group-item(href='#/') Events
          a.list-group-item(href='#/headlines') Headlines
          a.list-group-item(href='#/links') Links
          a.list-group-item(href='#/parser') Parser


      form.col-lg-9(name='form1', ng-submit='submitForm()',id="eveForm")
        h2 {{page}}
        br
        .form-group
          .row
            div(class="error alert alert-success" ng-hide='true')
            .col-lg-2
              label Title
              br
              label.aName(ng-show="false") Name
              br

              label Information
            .col-lg-10
              input.form-control.eventTitle(type='text', name='txtbxx' , ng-model="title", placeholder='Enter Title')
              input.form-control.aName(type='text', name='txtbx', ng-show="false" , ng-model="authorName", placeholder='Enter name of author')


              div(ng-repeat='event in events')
                //-textarea.info_bx(rows='4', cols='50' , name="textarea", ng-model="event.event")
                textarea(id="tinymce", ui-tinymce , ng-model="event.event",name="textarea")
                 //| {{event.event | newlines}}
              .info_btm
                .row
                  .col-lg-9
                    .styled-select
                      select.mnth(ng-model='selectedMonth', ng-options='r.id as r.Name for r in Months')
                      | {{$scope.test}}
                    .styled-select2
                      select.mnth(ng-model='selectedDate', ng-options='r.id as r.Name for r in dates')
                      | {{$scope.test}}
                    //-select.mnth.yearDrop(ng-model='selectedYear', ng-options='r.id as r.Name for r in years')
                    //-| {{$scope.test}}
                    input.mnth2.yearDrop(type='text', ng-model='selectedYear', name='txtbx', placeholder='Enter name of author')
                  .col-lg-3
                    .link_rw( ng-show="page == 'Add New Event'" )
                      select#demo-htmlselect(ng-model='selectedCategory')
        .form-group
          .row
            .col-lg-2
              label Links
            .col-lg-10
              .link_bx
                .link_drp
                  ul
                    li.link_desc
                      input.form-control(type='text', ng-model='asyncSelected', typeahead='address.url for address in getLocation($viewValue) | filter:$viewValue', typeahead-loading='loadingLocations', typeahead-editable='false', typeahead-on-select='onSelect($item)')
                .link_drp(ui-sortable ng-model="form")
                  div.link_list(ng-repeat='event in form' id="dd{{$index}}")
                    li.evnt_nm
                      a(href='#/links/{{event.id}}' , target="_blank") {{event.name}}
                    li.img_link
                      img(src='{{event.image_url}}', alt='No Image')
                    li.link_desc
                      a(href='{{event.url}}' , target="_blank") {{event.url}}
                    li.link_anch
                      p(ng-click='deleteLink($index)')
                        i.fa.fa-times-circle
              input.input_bx2(type='submit', value='submit')
              span.empty-error(style='display:none;color:red') Please Fill the Details Above First.
              script(src='/javascripts/test.js')
              link(rel="stylesheet" ,type="text/css", href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.5.0/summernote.css")

              link(rel="stylesheet", type="text/css", href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.5.0/summernote-bs3.css")

