.clearfix
    br
    br
    .row
      .col-lg-3
        .list-group
          h2.list-group-item.active Headlines
          a.list-group-item(href='#/') Events
          a.list-group-item.headline(href='#/headlines') Headlines
          a.list-group-item(href='#/links') Links
          a.list-group-item(href='#/parser') Parser
      form.col-lg-9(name='form2', ng-submit='submitForm()')
        h2 Headlines
        br
        .form-group
          .row
            div(class="error alert alert-success" ng-hide='true')
            .col-lg-2
              label Select Date
            .col-lg-10
              select.form-control2(ng-model='selectedMonth', ng-options='r.id as r.Name for r in Months' , ng-change="daySelect(); getEventBySelectedDate()")
              select.form-control2(ng-model='selectedDate', ng-options='r.id as r.Name for r in dates' , ng-change="getEventBySelectedDate()")
        .form-group
          .row
            .col-lg-2
              label Add a Quote
            .col-lg-10
              .quote
                textarea.form-control.textarea_quotes(name='headlines', ng-model='quote',placeholder='Enter the Quote')
                div.frm_bx_cont
                  .col-leftbx
                    input.form-control.input_wiki(type='text', name='txtbx', placeholder='Wikipedia Link',ng-model='asyncSelected', typeahead='address.url for address in getLocation($viewValue) | filter:$viewValue', typeahead-loading='loadingLocations', typeahead-editable='false' ,typeahead-on-select='onSelect($item)')
                  .col-rhgtbox
                    .frm_img_bx
                       .frm_edit
                          a(href="#/links/{{link_id}}") <i class="fa fa-pencil-square"></i>
        .form-group
          .row
            .col-lg-2
              label Headlines
            .col-lg-10
              div.form-control.dropableArea#sortable(my-sortable,ng-model='selectedHead')
                div(ng-repeat='event in selectedHead')
                  .event_bx
                    p {{event.event}}
                      .date
                        strong {{event.date}}
                      .plus
                        a(href='#', ng-click='deleteLinkk("{{$index}}")') <i class="fa fa-minus-circle"></i>
                        a(href='#/event/{{event.id}}') Edit
          .col-lg-2
          .col-lg-10
            input.input_bx2(type='submit', value='Update')

        .form-group
          .row
            .col-lg-2
              label Items
            .col-lg-10.load_cont_bx
              ul#myTab.nav.nav-tabs
                li.active
                  p.two36(href='#home' ng-click='selectedTab("36")' , data-toggle='tab')
                    img(src='images/event_icon.png',   alt='event_icon')
                    | Events
                li
                  p.two37(href='#profile', ng-click='selectedTab("37")' ,data-toggle='tab' )
                    img(src='images/birth_icon.png', alt='birth_icon')
                    | Birth
                li
                  p.two38(href='#messages', ng-click='selectedTab("38")', data-toggle='tab' )
                    img(src='images/death_icon.png', alt='death_icon')
                    | Death
                li
                  p.two39(href='#settings', ng-click='selectedTab("39")',data-toggle='tab')
                    img(src='images/holiday_icon.png', alt='holiday_icon')
                    | Holiday
                .styled-select3
                  select.asc( ng-model='orderBy' , name='month', ng-change="getEventByOrder()")
                    option(value='DESC') DESC
                    option(value='ASC') ASC
              .tab-content
                #home.tab-pane.active.list2()
                  div(my-draggable="#sortable", eventID ='{{event.id}}' ,data-index='{{$index}}' , ng-repeat='event in events | orderBy:predicate:reverse', draggable='draggable')
                    .event_bx
                      p#item1.list1(data-index='{{$index}}' data-eventID ='{{event.id}}') {{event.event}}
                      .date
                        strong {{event.day}} {{month}} {{event.year}}
                      .plus
                        p(href='javascript:void(0)', ng-click='selectHeadline($index)')
                          i.fa.fa-plus-square
                        a(href='#/event/{{event.id}}') Edit
                      //- .plus
                      //-   a(href='#/event/{{event.id}}') Edit
                #profile.tab-pane.list2(draggable='draggable')
                  div(my-draggable="#sortable", eventID ='{{event.id}}' ,data-index='{{$index}}' , ng-repeat='event in events | orderBy:predicate:reverse', draggable='draggable')
                    .event_bx
                      p#item1.list1(data-index='{{$index}}' data-eventID ='{{event.id}}') {{event.name}} - {{event.event}}
                      .date
                        strong {{event.day}} {{month}} {{event.year}}
                      .plus
                        p(href='javascript:void(0)', ng-click='selectHeadline($index)')
                          i.fa.fa-plus-square
                        a(href='#/event/{{event.id}}') Edit
                      //- .plus
                      //-   a(href='#/event/{{event.id}}') Edit
                #messages.tab-pane.list2(draggable='draggable')
                  div(my-draggable="#sortable", eventID ='{{event.id}}' ,data-index='{{$index}}' , ng-repeat='event in events | orderBy:predicate:reverse', draggable='draggable')
                    .event_bx
                      p#item1.list1(data-index='{{$index}}' data-eventID ='{{event.id}}') {{event.name}} - {{event.event}}
                      .date
                        strong {{event.day}} {{month}} {{event.year}}
                      .plus
                        p(href='javascript:void(0)', ng-click='selectHeadline($index)')
                          i.fa.fa-plus-square
                        a(href='#/event/{{event.id}}') Edit
                      //- .plus
                      //-   a(href='#/event/{{event.id}}') Edit
                #settings.tab-pane.list2(draggable='draggable')
                  div(my-draggable="#sortable", eventID ='{{event.id}}' ,data-index='{{$index}}' , ng-repeat='event in events', draggable='draggable')
                    .event_bx
                      p#item1.list1(data-index='{{$index}}' data-eventID ='{{event.id}}') {{event.event}}
                      .date
                        strong {{event.day}} {{month}}
                      .plus
                        p(href='javascript:void(0)', ng-click='selectHeadline($index)')
                          i.fa.fa-plus-square
                        a(href='#/event/{{event.id}}') Edit
                      //- .plus
                      //-   a(href='#/event/{{event.id}}') Edit
              div.loader2
                img(src='images/loader.gif', alt='Data Loading ....!!!')
