.clearfix
      br
      br
      .row
        .col-lg-3
          .list-group
            h2.list-group-item.active.activatedTab Events
            a.list-group-item(href='#/') Events
            a.list-group-item(href='#/headlines') Headlines
            a.list-group-item(href='#/links') Links
            a.list-group-item(href='#/parser') Parser
         .col-lg-9
          h2 Events
          br
          .form-group
            .row
              .col-lg-2
                 label.dt Select Date
              .col-lg-10
                select.form-control2(ng-model='selectedMonth', ng-options='r.id as r.Name for r in Months' , ng-change="daySelect(); getEventBySelectedDate()")
                select.form-control2(ng-model='selectedDate', ng-options='r.id as r.Name for r in dates' , ng-change="getEventBySelectedDate()")
                a.add_event_bx(href='#/new-event') Add New Event
          br
          .form-group
            .row
              .col-lg-2
                label Items
              .col-lg-10(style='min-height:800px;')
                ul#myTab.nav.nav-tabs.nav-bx
                  li.active
                    p.two36(href='#home' ng-click='selectedTab("36")' , data-toggle='tab')
                      img(src='images/event_icon.png',   alt='event_icon')
                      | Events
                  li
                    p.two37(href='#profile', ng-click='selectedTab("37")' ,data-toggle='tab' )
                      img(src='images/birth_icon.png', alt='birth_icon')
                      | Birth
                  li
                    p.two38(href='#messages', ng-click='selectedTab("38")', data-toggle='tab' )
                      img(src='images/death_icon.png', alt='death_icon')
                      | Death
                  li
                    p.two39(href='#settings', ng-click='selectedTab("39")',data-toggle='tab')
                      img(src='images/holiday_icon.png', alt='holiday_icon')
                      | Holiday
                .styled-select3
                  select.asc( ng-model='orderBy' , name='month', ng-change="getEventByOrder()",ng-show = "events[0].category_id == 36 || events[0].category_id == 37 || events[0].category_id == 38")
                    option(value='DESC') DESC
                    option(value='ASC') ASC
                .tab-content
                  #home.tab-pane.active
                    div(ng-repeat='event in events')
                      .event_bx
                        p(ng-bind-html="event.event | newlines")
                        .date
                          strong {{event.day}} {{month}} {{event.year}}
                        .plus
                          a(href='#/event/{{event.id}}') Edit
                  #profile.tab-pane
                    div(ng-repeat='event in events')
                      .event_bx
                        p {{event.name}} - {{event.event | newlines}}
                        .date
                          strong {{event.day}} {{month}} {{event.year}}
                        .plus
                          a(href='#/event/{{event.id}}') Edit
                  #messages.tab-pane
                    div(ng-repeat='event in events')
                      .event_bx
                        p {{event.name}} - {{event.event | newlines}}
                        .date
                          strong {{event.day}} {{month}} {{event.year}}
                        .plus
                          a(href='#/event/{{event.id}}') Edit
                  #settings.tab-pane
                    div(ng-repeat='event in events')
                      .event_bx
                        p(ng-bind-html="event.event | newlines")
                        .date
                          strong {{event.day}} {{month}}
                        .plus
                          a(href='#/event/{{event.id}}') Edit
                div.loader
                  img(src='images/loader.gif', alt='Data Loading ....!!!')
