.clearfix
    br
    br
    .row
      .col-lg-3
        .list-group
          h2.list-group-item.active Links
          a.list-group-item(href='#/') Events
          a.list-group-item.headline(href='#/headlines') Headlines
          a.list-group-item(href='#/links') Links
          a.list-group-item(href='#/parser') Parser
      .col-lg-9
        h2 Links
        br
        div(class="error alert alert-success" ng-hide='true')
        .form-group
          .row
            .col-lg-12
              .quote.inp_link
                .inp_lft
                  input#txtbx.form-control(type='text', ng-model='asyncSelected', placeholder='Enter text to search' , typeahead='address.url for address in getLocation($viewValue) | filter:$viewValue', typeahead-loading='loadingLocations', typeahead-editable='false', typeahead-on-select='onSelect($item)')
        .form-group
          .row
            .col-lg-2
              label Name
            .col-lg-10
              .quote
                input#txtbx2.form-control(type='text', ng-model='title', name='txtbx2', placeholder='Title')
        .form-group
          .row
            .col-lg-2
              label URL
            .col-lg-10
              .quote
                input#txtbx3.form-control.padding-input(type='text', ng-model ='asyncSelected' , name='txtbx3', placeholder='URL')
                a(class='fa fa-arrow-circle-right link-jump' , href="{{asyncSelected}}", target="_blank" )
        .form-group
          .row
            .col-lg-2
              label Full URL
            .col-lg-10
              .quote
                input#txtbx4.form-control.padding-input(type='text', ng-readonly="true", ng-model ='full', name='txtbx4', placeholder='Full URL')
                a(class='fa fa-arrow-circle-right link-jump', href="{{full}}", target="_blank")
        .form-group
          .row
            .col-lg-2
              label Medium URL
            .col-lg-10
              .quote
                input#txtbx5.form-control.padding-input(type='text', ng-readonly="true", ng-model ='medium' , name='txtbx5', placeholder='Medium URL')
                a(class='fa fa-arrow-circle-right link-jump', href="{{medium}}", target="_blank")
        .form-group
          .row
            .col-lg-2
              label Small URL
            .col-lg-10
              .quote
                input#txtbx6.form-control.padding-input(type='text', ng-model ='small' , ng-readonly="true"  , name='txtbx6', placeholder='Small URL')
                a(class='fa fa-arrow-circle-right link-jump', href="{{small}}", target="_blank")
        .img-contnt-right
          .form-group
            .row
              .col-lg-3
                div#preview-pane
                  .img_box
                    img.imageMap(src='{{images}}', alt='')
                    input#wid(value="",type="hidden")
                    input#hei(value="",type="hidden")
                    ima.loadImg(src="" , alt="load")
              .col-lg-9
                .quote
                  .fileUpload.btn.btn-primary
                    span Upload Image
                    input.systtemFile(type='file', class="upload", name='key',  ng-file-select="onFileSelect($files)")
                  br
                  p(class="sel_img wait-wiki-main" , ng-click="getUrlData()") Wikipedia Image
                  p(class="sel_img wait-wiki", ng-hide='true') Wait...
                  span.url-error(style='display:none;color:red') Please Fill the Details Above First.
                  br
                  p(class="sel_img" , ng-click='directUrlImage()') Fetch Image
                    .col-lg-12
                      .frm_bx_cont.direct-url-image(ng-hide="true")
                        .col-leftbx
                          input#txtbx3.form-control.direct-url-image(type='text', ng-hide="true", ng-model ='dImageUrl' , name='txtbx3', placeholder='URL')
                        .col-rhgtbox
                          .frm_img_bx2
                            i.fa.fa-arrow-circle-right(ng-click="directUrlImg()")

                  p.sel_img.cropp
                    button.sel_img.crop(data-toggle='modal', data-target='#myModal') Crop
          .form-group
            .row
              .col-lg-9
                p.input_bx.urlimage(ng-click="imageUpload(images)")
                  | Save
                  i.fa.fa-sign-in
                p.input_bx.base64-image(ng-hide='true' , ng-click="imageUploadd(images)")
                  | Save
                  i.fa.fa-sign-in
                p.input_bx.wait-process(ng-hide='true')
                  | Wait...
        //right side box end
        // Modal
        #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog.c-modal
            link(rel='stylesheet', href='/stylesheets/jcrop.min.css')
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4#myModalLabel.modal-title Crop Image
              .modal-body
                div.img
                  img-cropped(src='{{images}}',  selected='selected(cords)', id="c-image")
                div.table(style="margin-top:16px;")
                  table.table
                    thead
                      tr
                        th Images
                        th Width
                        th &nbsp
                        th Height
                    tbody
                      tr
                        td Original
                        td
                          span#fwidth
                        td x
                        td
                          span#fheight
                      tr
                        td Cropped
                        td {{nW}}
                        td x
                        td {{nH}}
                      tr
                        td Medium
                        td {{mw1}}
                        td x
                        td {{mh1}}
                      tr
                        td Small
                        td {{sw1}}
                        td x
                        td {{sh1}}

              .modal-footer
                button.btn.btn-primary(type='button', data-dismiss='modal') Done

