.clearfix
      br
      br
      .row
        .col-lg-3
          .list-group
            h2.list-group-item.active.activatedTab Events
            a.list-group-item(href='#/' ng-click="cancelRequest()") Events
            a.list-group-item(href='#/headlines') Headlines
            a.list-group-item(href='#/links') Links
            a.list-group-item(href='#/parser') Parser
         .col-lg-9
          h2 Events
          br
          .form-group
            .row
              .col-lg-2
                 label.dt Select Date
              .col-lg-10
                select.form-control2(ng-model='selectedMonth', ng-options='r.id as r.Name for r in Months' , ng-change="daySelect()")
                select.form-control2(ng-model='selectedDate', ng-options='r.id as r.Name for r in dates' , ng-change="")
                p.add_event_bx.search-wiki-events(ng-click="getEvents()") Search Events
                div.counter
          br
          div.loader.modal-backdrop.fade.in
            img(src='images/loader1.gif', alt='Data Loading ....!!!')
          .form-group
            .row
              .col-lg-2
                label New Items
              .col-lg-10(style='min-height:0px;')
                ul#myTab.nav.nav-tabs
                  li.active
                    p.two-36.two36(href='#home', data-toggle='tab' , ng-click='seelctedTab(36)')
                      img(src='images/event_icon.png',   alt='event_icon')
                      | Events
                  li
                    p.two-37.two37(href='#profile',data-toggle='tab' , ng-click='seelctedTab(37)' )
                      img(src='images/birth_icon.png', alt='birth_icon')
                      | Birth
                  li
                    p.two-38.two38(href='#messages', data-toggle='tab' , ng-click='seelctedTab(38)')
                      img(src='images/death_icon.png', alt='death_icon')
                      | Death
                  li
                    p.two-39.two39(href='#settings',data-toggle='tab' , ng-click='seelctedTab(39)' )
                      img(src='images/holiday_icon.png', alt='holiday_icon')
                      | Holiday

                  p#savebtn.add_event_bx(style='display: none;',ng-click="saveNewEvents()") Save Events
                  p#savebtnstp.add_event_bx(style='display: none;',ng-click="saveNewEventsStop()") Save Events
                //- select.asc( ng-model='orderBy' , name='month', ng-change="getEventByOrder()")
                //-   option(value='DESC') DESC
                //-   option(value='ASC') ASC
                p.new-button(class="{{$index}}button" style="display:none" ng-click="saveNewEvent(0 , 36)") Save
                p.new-button-birth(class="{{$index}}button" style="display:none" ng-click="saveNewEvent(0 , 37)") Save
                p.new-button-death(class="{{$index}}button" style="display:none" ng-click="saveNewEvent(0 , 38)") Save
                p.new-button-holi(class="{{$index}}button" style="display:none" ng-click="saveNewEvent(0 , 39)") Save
                .tab-content.event-list.new-events
                  #home.tab-pane.active
                    div(ng-repeat='event in events')
                      .event_bx
                        p {{ event.event }}
                        .date
                          strong {{event.day}} {{month}} {{event.year}}
                        .plus
                          p.single-event(class="{{$index}}button" ng-click="saveNewEvent($event, $index , 36)") Save
                          img(src='images/1.gif', alt='holiday_icon' style="display:none;" class="{{$index}}loader")
                          img(src='images/tick.png', alt='holiday_icon' style="display:none;" class="{{$index}}success")
                  #profile.tab-pane
                    div(ng-repeat='event in newbirths')
                      .event_bx
                        p {{event.event}}
                        .date
                          strong {{event.day}} {{month}} {{event.year}}
                        .plus
                          p.single-event-birth(class="{{$index}}button-birth" ng-click="saveNewEvent($event,$index , 37)") Save
                          img(src='images/1.gif', alt='holiday_icon' style="display:none;" class="{{$index}}loader-birth")
                          img(src='images/tick.png', alt='holiday_icon' style="display:none;" class="{{$index}}success-birth")

                  #messages.tab-pane
                    div(ng-repeat='event in newdeaths')
                      .event_bx
                        p {{event.event}}
                        .date
                          strong {{event.day}} {{month}} {{event.year}}
                        .plus
                          p.single-event-death( class="{{$index}}button-death" ng-click="saveNewEvent($event ,$index , 38)") Save
                          img(src='images/1.gif', alt='holiday_icon' style="display:none;" class="{{$index}}loader-death")
                          img(src='images/tick.png', alt='holiday_icon' style="display:none;" class="{{$index}}success-death")
                  #settings.tab-pane
                    div(ng-repeat='newHoliday in newholidays')
                      .event_bx
                        p {{newHoliday.event}}
                        .date
                          strong {{newHoliday.day}} {{month}}
                        .plus
                          p.single-event-holiday(class="{{$index}}button-holiday" ng-click="saveNewEvent($event,$index , 39)") Save
                          img(src='images/1.gif', alt='holiday_icon' style="display:none;" class="{{$index}}loader-holiday")
                          img(src='images/tick.png', alt='holiday_icon' style="display:none;" class="{{$index}}success-holiday")


          br
          .form-group
            .row
              .col-lg-2
                label Duplicate Items
              .col-lg-10
                ul#myTab.nav.nav-tabs
                  li.active
                    p.two36(href='#homee', data-toggle='tab',ng-click='seelctedTab(36)')
                      img(src='images/event_icon.png',   alt='event_icon')
                      | Events
                  li
                    p.two37(href='#profilee',data-toggle='tab',ng-click='seelctedTab(37)' )
                      img(src='images/birth_icon.png', alt='birth_icon')
                      | Birth
                  li
                    p.two38(href='#messagess', data-toggle='tab',ng-click='seelctedTab(38)' )
                      img(src='images/death_icon.png', alt='death_icon')
                      | Death
                  li
                    p.two39(href='#settingss',data-toggle='tab',ng-click='seelctedTab(39)')
                      img(src='images/holiday_icon.png', alt='holiday_icon')
                      | Holiday

                  p.add_event_bx#saveup(style='display: none;',ng-click="savedupEvents($event)") Save Events
                  p.add_event_bx#savedupstop(style='display: none;',ng-click="savedupEventsStop($event)") Save Events
                  span.save-success(style='display:none;color:green') Successfully saved

                //- select.asc( ng-model='orderBy' , name='month', ng-change="getEventByOrder()")
                //-   option(value='DESC') DESC
                //-   option(value='ASC') ASC
                .tab-content.event-list
                  #homee.tab-pane.active
                    div(ng-repeat='event in eventsE')
                      .event_bx
                        div.evmt-outer
                          div.evmt Wiki Event
                          p.wiki-event {{event.eventWiki}}
                        div.evmt1-outer
                          div.evmt1 Database Event
                          span.database-event {{event.eventInternal}}
                        .plus
                          a(href='#/event/{{event.id}}',class="{{$index}}dEedit") Edit
                          img(src='images/1.gif', alt='holiday_icon' style="display:none;" class="{{$index}}dEloader")
                          img(src='images/tick.png', alt='holiday_icon' style="display:none;" class="{{$index}}dEsuccess")
                        .date
                          strong {{event.day}} {{month}} {{event.year}}


                  #profilee.tab-pane
                    div(ng-repeat='event in births')
                      .event_bx
                        div.evmt-outer
                          div.evmt Wiki Event
                          p.wiki-event {{event.eventWiki}}
                        div.evmt1-outer
                          div.evmt1 Database Event
                          span.database-event {{event.eventInternal}}
                        .plus
                          a(href='#/event/{{event.id}}',class="{{$index}}dBedit") Edit
                          img(src='images/1.gif', alt='holiday_icon' style="display:none;" class="{{$index}}dBloader")
                          img(src='images/tick.png', alt='holiday_icon' style="display:none;" class="{{$index}}dBsuccess")
                        .date
                          strong {{event.day}} {{month}} {{event.year}}
                          //- a(href='#/event/{{event.id}}') Edit
                  #messagess.tab-pane
                    div(ng-repeat='event in deaths')
                      .event_bx
                        div.evmt-outer
                          div.evmt Wiki Event
                          p.wiki-event {{event.eventWiki}}
                        div.evmt1-outer
                          div.evmt1 Database Event
                          span.database-event {{event.eventInternal}}
                        .plus
                          a(href='#/event/{{event.id}}',class="{{$index}}dDedit") Edit
                          img(src='images/1.gif', alt='holiday_icon' style="display:none;" class="{{$index}}dDloader")
                          img(src='images/tick.png', alt='holiday_icon' style="display:none;" class="{{$index}}dDsuccess")
                        .date
                          strong {{event.day}} {{month}} {{event.year}}
                          //- a(href='#/event/{{event.id}}') Edit
                  #settingss.tab-pane
                    div(ng-repeat='event in holidays')
                      .event_bx
                        //- div.evmt-outer
                        //-   div.evmt Wiki Event
                        //-   p.wiki-event wiki-event
                        div.evmt1-outer
                          //div.evmt1 Database Event
                          span.database-event {{event.event.event}}
                        .plus
                          a(href='#/event/{{event.id}}',class="{{$index}}dHedit") Edit
                          img(src='images/1.gif', alt='holiday_icon' style="display:none;" class="{{$index}}dHloader")
                          img(src='images/tick.png', alt='holiday_icon' style="display:none;" class="{{$index}}dHsuccess")
                        .date
                          strong {{event.day}} {{month}}
                        //- .plus
                        //-   a(href='#/event/{{event.id}}') Edit
                        //- p.dup-dupbutton(class="{{$index}}button" style="display:none" ng-click="saveNewEvent(0 , 36)") Edit
                        //- p.dup-dupbutton-birth(class="{{$index}}button" style="display:none" ng-click="saveNewEvent(0 , 37)") Edit
                        //- p.dup-dupbutton-death(class="{{$index}}button" style="display:none" ng-click="saveNewEvent(0 , 38)") Edit
                        //- p.dup-dupbutton-holi(class="{{$index}}button" style="display:none" ng-click="saveNewEvent(0 , 39)") Edit
          br
          .form-group
            .row
              .col-lg-2
                label Existing Events
              .col-lg-10
                ul#myTab.nav.nav-tabs
                  li.active
                    p.two36(href='#hom', data-toggle='tab')
                      img(src='images/event_icon.png',   alt='event_icon')
                      | Events
                  li
                    p.two37(href='#profil',data-toggle='tab' )
                      img(src='images/birth_icon.png', alt='birth_icon')
                      | Birth
                  li
                    p.two38(href='#message', data-toggle='tab' )
                      img(src='images/death_icon.png', alt='death_icon')
                      | Death
                  li
                    p.two39(href='#setting',data-toggle='tab')
                      img(src='images/holiday_icon.png', alt='holiday_icon')
                      | Holiday
                  p.add_event_bx(style='display: none;',ng-click="showExitEvents()") Show Events
                .tab-content.exit-event
                  #hom.tab-pane.active
                    div(ng-repeat='event in exitEvents')
                      .event_bx
                        p {{event.eventInternal}}
                        .date
                          strong {{event.day}} {{month}} {{event.year}}
                        .plus
                          p.single-event(class="{{$index}}buttonD" ng-click="delExistEvent($event,$index , 36,event.eventInternal,event.id)") Delete

                  #profil.tab-pane
                    div(ng-repeat='event in exitBirthEvents')
                      .event_bx
                        p {{event.event}}
                        .date
                          strong {{event.day}} {{month}} {{event.year}}
                        .plus
                          p.single-event(class="{{$index}}buttonD" ng-click="delExistEvent($event,$index , 37,event.event,event.id)") Delete
                  #message.tab-pane
                    div(ng-repeat='event in exitDeathEvent')
                      .event_bx
                        p {{event.event}}
                        .date
                          strong {{event.day}} {{month}} {{event.year}}
                        .plus
                          p.single-event(class="{{$index}}buttonD" ng-click="delExistEvent($event,$index , 38,event.event,event.id)") Delete
                  #setting.tab-pane
                    div(ng-repeat='event in exitHolidayEvents')
                      .event_bx
                        p {{event.event}}
                        .date
                          strong {{event.day}} {{month}}
                        .plus
                          p.single-event(class="{{$index}}buttonD" ng-click="delExistEvent($event,$index , 39,event.event,event.id)") Delete
