extends layout

block content
  .container
    div#pstat(class="alert alert-warning", role="alert")
      strong  Process is running in background Please wait...
      span
      .progress#proc
        div(class="progress-bar progress-bar-success", role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", style="width: 0%")
    div(ng-view)