doctype html
html(ng-app='myApp')
  head
    title TIH
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/docs.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    link(rel='stylesheet', href="https://googledrive.com/host/0B55OYxnBow_9VWpkOUdWLW5KOXM/redactor.css")
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/dropdown.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/jqueryui.js')
    script(src='/javascripts/placeholders.min.js')
    script(src='/javascripts/jqueryNew.js')
    script(src='/javascripts/jQueryFun.js')
    script(src='/javascripts/jcrop.min.js')
    script(src='/socket.io/socket.io.js')

  body
    .top_row
      .container
        .row
          .col-lg-8
            img(src='images/logo.png', alt='Today in History')
          .col-lg-4
           .row
           form(action='/logout', autocomplete='on' ,method="get")
            .col-lg-8
              if user
                h2.wlcm Welcome, #{user.username}
            .col-lg-4
            if user
              input.logout(type='submit', value='Logout')

          .clearfix
    script(src='/javascripts/lib/angular/angular.js')
    script(src="/javascripts/lib/angular/angular-sanitize.min.js")
    script(src='/javascripts/lib/angular/angular-ui.js')
    script(src="http://tinymce.cachefly.net/4.0/tinymce.min.js")
    script(src='/javascripts/lib/tinymce.js')
    script(Src='/javascripts/angular-dragdrop.js')
    script(src='/javascripts/lib/angular/angular-file-upload.min.js')
    script(src="http://angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.10.0.js")
    script(src='/javascripts/app.js')
    script(src='/javascripts/services.js')
    script(src='/javascripts/controllers.js')
    script(src='/javascripts/linksController.js')
    script(src='/javascripts/editEventsController.js')
    script(src='/javascripts/headlinesController.js')
    script(src='/javascripts/parserCtrl.js')
    script(src='/javascripts/filters.js')
    script(src='/javascripts/directives.js')
    script(src='/javascripts/jquery.ogp.js')
    script(src='/javascripts/bacpro.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/summernote/0.5.0/summernote.min.js')





    block content
