extends layout

block content
  .container
    header
      h1 Admin Panel
    section
      #container_demo
        #wrapper
          if message
            div(class="error") #{message}
          #login.animate.form
            form(action='/login', autocomplete='on' ,method="post")
              h2.form-signin-heading Log In
              .login-wrap
                p
                  label.uname(for='username')  Your email or username
                  input#username(type='text', name='username', required='required', class="username" , placeholder='mymail@mail.com' value='')
                p
                  label.youpasswd(for='password' )  Your password
                  input#password(type='password', class="password" , name='password', required='required', placeholder='eg. X8df!90EO')
                p.keeplogin
                  label(for='loginkeeping')
                    input#loginkeeping(type='checkbox', name="remember_me", value="yes", checked='checked')
                    | Remember Me
                p.login.button
                  input(type='submit', value='Login')


